*{
  margin: 0;
  font-family: 'EUPHORIGENIC', sans-serif;
 }
.imgpi{    margin top: -10%;

 margin-bottom:18%;

}
.posi
{

padding-left: 18%;


}
body { background: url(Imagens/fundo1.jpg);
  background-size: 100%;}
.cabecalho {
  width: 100vw;
  height: 20vh;
  background: url(Imagens/fundo.jpg)  no-repeat;
  background-size: 100%;
}

.menu{
  float: left;
  padding-left: 5%;
  line-height: 20vh;
}
.menu a{
  line-height: 20px;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.menu a:hover{
  color: yellow;
    z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.5);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.5);   
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.5);
        transition: all 200ms ease-in;
        transform: scale(1.5);
}

.logo{
  float: left;  
  height: 18vh;
  margin-top: 7px;
  padding-left: 6%;
}

.galeria{
  background-color: black;
  margin: 200px auto;
  width: 100%;
  height: 570px;
  margin-top: -25px;
  overflow: hidden;
}

.texin{ line-height: 35px;
  
 margin top: 10%;
 margin-left:10%; 
 margin-bottom: 25%;
}
  .texin h1{font-size: 60px;}
.foto{
  float: right;
  opacity: 0;
  animation-name: animacao;
  animation-duration:8s;
  animation-iteration-count: infinite;
}
.alin{
text-align: left;
margin: 10%5% 30%11%;
}
.alin h1{font-size: 50px;}
.foto1{
  float: right;
  opacity: 0;
  animation-name: animacao;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.franq{float: center;
margin: 3% 5%;
font-size: 25px}
.img1{ margin: 10% 20%;}
.text {float: center;
  padding-left: 21%;
  line-height: 8vh;}
.text1 {float: center;
  padding-left: 20%;
  line-height: 8vh;}
.text2 {float: center;
  margin-left: -10%;
  line-height: 8vh;}
.pizza {float: left;
 margin: 10% 10%;}
.botao{float: center;
  margin-left: 5%;
  line-height: 10vh;}
  .preco{float: center;
  margin-left: 60%;
  line-height: -60vh;}
  .sel {float: center;
  margin-left: 21%;
   margin: 0 15px;
  line-height: 10vh;}
@keyframes animacao{
  25%{
    opacity: 1;
    transform:scale(1.1,1.1);
  }

  50%{
    opacity: 0;
  }
}

.foto:nth-child(1){
}

.foto:nth-child(2){
  animation-delay: 0s;
}

.foto:nth-child(3){
  animation-delay:0s;
}

.formulario{
    width: 40px;
    padding: 30px;
    border:1px solid #A9A9A9;
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field{
    width: 100%;
    margin: 154px 0;
}
.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
input[type=datetime-local],
input[type=tel],
textarea{
    width: 50%;
    padding-left: 20px;
    height: 40px;
    line-height: 20px;
    border-radius: 5px;
    border: 1px solid #A9A9A9;
    outline: none
    background-color: #A9A9A9;

}
input[type=text1],
textarea{
    width: 27%;
    padding-left: 20px;
    height: 70px;
    line-height: 60px;
    border-radius: 5px;
    border: 1px solid #A9A9A9;
    outline: none
    background-color: #A9A9A9;

}
.posit{
   margin-top: 30px;
}

.peq{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background:url(Imagens/fundo.jpg)  no-repeat;
  background-size: 100%;
   height: 6vh;
   background-color: white; 

}
footer { width: 100%;
position: absolute;
  background:url(Imagens/fundo.jpg)  no-repeat;
  background-size: 100%;
   height: 6vh;
   background-color: white; }
footer h3{  line-height: 20px;
   margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;}